.hero-section {
    background-image: linear-gradient(rgba(33,37,41,0.8), rgba(33,37,41,0.8)), url('/assets/images/hero-bg.jpg');
    background-position: center;
    background-size: cover;
}


.card-category {
    transition: transform 0.2s ease-in-out;
    background-color: white;


    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}
