.navbar-custom {
    background-color: var(--color-text-dark);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}


.brand-text {
    color: var(--color-primary) !important;
    font-weight: bold;
    letter-spacing: 0.5px;
}


.nav-link {
    color: rgba(255, 255, 255, 0.85) !important;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;


    &:hover, &.active {
        color: var(--color-primary) !important;
        transform: translateY(-1px);
    }


    &.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 2px;
        background-color: var(--color-primary);
    }
}

.navbar-toggler {
    border-color: rgba(255,255,255,0.5);

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.logo-img {
    height: 65px;
    width: auto;
    object-fit: contain;
}



